@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

*{
    font-family: 'Pixelify Sans', sans-serif;
    color: white;
}


body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    background-image: url(assets/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}
#manualSender{
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    background-color: rgb(12,12,12);
    padding: 30px;
    border-radius: 5px;
}
.inputDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.inputWrapper{
    width: 330px;
}
.inputWrapper label { 
    margin-left: 10px;
    color: rgb(100,100,100);
    font-weight: 700;
    font-size: 1.3rem;
}
input[type="text"], #subject{
    width: 330px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: rgba(7, 7, 7, 0.9);
    font-weight: 700;
    font-size: 1.2rem;
    
}
#messageContent{
    width: 100%;
    height: 200px;
    resize: none;
    background-color: rgba(7, 7, 7, 0.9);
    font-weight: 500;
    border-radius: 3px;
}

input[type="submit"]{
    width: 200px;
    height: 40px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 1.5rem;
    border: none;
    transition: all 200ms linear;
    background-color: rgba(7, 7, 7, 0.9);
    letter-spacing: 2px;
}
input[type="submit"]:hover{
    background-color: rgb(5, 5, 5, 0.9);
}